# Final Exam
Name:  
Class: INST 447  
Section: (0101 | 0102)  
Favorite animal:  

Welcome to the last set of data gymnastics that you will have to compelete in this class!

Here is a tweet with a cute dog to keep you motivated:
<blockquote class="twitter-tweet" data-lang="en"><p lang="en" dir="ltr">This is Libby. She leap. 14/10<br>(IG: libbythefluffycorgi) <a href="https://t.co/pSt9QBSYNw">pic.twitter.com/pSt9QBSYNw</a></p>&mdash; WeRateDogsâ„¢ (@dog_rates) <a href="https://twitter.com/dog_rates/status/993629544463642624?ref_src=twsrc%5Etfw">May 7, 2018</a></blockquote>
<script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>

# DUE DATE
**SECTION 0101** 	Wed, May 16 	10:00 AM

**SECTION 0102** 	Thu, May 17 	3:30 PM

## Ground rules

You may use any resource available to you with the exception of other sentient entities. This means that you may use your notes, resources from the Internet, books, etc. This manifests with the following abosolute requirements: 1) the code must be yours, 2) though you may use Internet resources, you may not ask questions on forums, stackoverflow, twitter, youtube, etc. 

Despite any evidence to the contrary, I qualify as a sentient entity. However, you may ask me questions, but I may not answer them. I am likely to provide clarifications about questions in the exam.

You may talk to other sentient entities about topics complete unrelated to the exam. I, naturally, do not expect you to go into seclusion. That would just be cruel.

## Instructions
Think of this as a series of puzzles. You have all the skills required to complete this task.

## Points Value
There are 33 questions. Each question is worth 3 points. The remaining 1 point is for filling out the header info with your name, the section you are in, and your favorite animal. Seriously, I will mark you down if you don't fill out the header info.

In [ ]:
# These are our imports.
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import sqlite3
import json
from lxml import etree
import requests
import re
from bs4 import BeautifulSoup

%matplotlib inline

### Working with Pandas
The DataFrame `ex_df` will be used for questions 1 - 8.

In [ ]:
ex_df = pd.DataFrame({'Events': ['End of Classes', 'Commencement', 'iSchool Ceremony'],
                      'Dates': [ '2018-05-10', '18 May 2018 13:00', 'May 21, 2018 4:00pm'],
                      'Tickets_Required': ['No', 'Yes', 'Yes'],
                      'Tickets_Requested': ['None', '4', '15']})
ex_df

#### Q1: What are the types currently?
Use a pandas function to identify the current types in the columns.

#### Q2: Convert the column Dates
Use a pandas function to conver the column `Dates` to the proper data type.

#### Q3: Convert the column Tickets_Requested
The column `Tickets_Requested` is currently a string. Convert it to a number in a way that handles the value "None" appropriately.

#### Q4: Convert the column Tickets_Required
The column `Tickets_Required` looks like it would be best represented as a boolean. Convert the strings in the column to boolean values.

#### Q5: Drop row with the NaN value
Create a copy of the `ex_df` DataFrame and name it `drop_df`. The row with the NaN should no longer be present.

#### Q6: Replace the NaN value with 0
Create a copy of the `ex_df` DataFrame and name it `fill_df`. The NaN value should be replaced with a zero.

#### Q7: Set the index to the column Dates
Change the index for the `ex_df` DataFrame to be Dates column.

#### Q8: Save to CSV
Write the DataFrame as a CSV file into the data directory. Name the file with your `lastname+'-ex.csv'`. For example, my file would be named `heidenblad-ex.csv`.

#### Q9: Combining 2 DataFrames
These two DataFrames are related by the column `id`. Combine them into a DataFrame named `merged_df` so that they appear like this:

<table>
    <tr>
        <th></th>
        <th>id</th>
        <th>val_in_a</th>
        <th>val_in_b</th>
    </tr>
    <tr>
        <td><b>0</b></td>
        <td>1</td>
        <td>Apple</td>
        <td>Banana</td>
    </tr>
    <tr>
        <td><b>1</b></td>
        <td>2</td>
        <td>Aardvark</td>
        <td>Beaver</td>
    </tr>
    <tr>
        <td><b>2</b></td>
        <td>3</td>
        <td>Accountamt</td>
        <td>Banker</td>
    </tr>
    <tr>
        <td><b>3</b></td>
        <td>5</td>
        <td>Adjustment</td>
        <td>NaN</td>
    </tr>
    <tr>
        <td><b>4</b></td>
        <td>6</td>
        <td>Absence</td>
        <td>NaN</td>
    </tr>
    <tr>
        <td><b>5</b></td>
        <td>4</td>
        <td>NaN</td>
        <td>Balance</td>
    </tr>
</table>

In [ ]:
a_df = pd.DataFrame({'id': [1, 2, 3, 5, 6],
                     'val_in_a': ['Apple', 'Aardvark', 'Accountamt', 'Adjustment', 'Absence']})

b_df = pd.DataFrame({'id': [2, 1, 3, 4],
                     'val_in_b': ['Beaver', 'Banana', 'Banker', 'Balance']})

#### Q10: Sort the list.
Sort the DataFrame on the `val_in_b` column.

### Working with XML
The file `nutrition.xml` is in the `data` directory. Open the file in a text editor so that you can see the general structure. Then proceed below.

#### Q11: Load the XML data
Import the file `nutrition.xml` from the `data` directory into a variable named `nutrition`.

#### Q12 & Q13: Create a DataFrame
Create a DataFrame from the `nutrition.xml` file that is contained in `nutrition` such that it looks like the example below (there is no avacado toast in `nutrition.xml`).

<table>
    <tr>
        <th>calories_fat</th>
        <th>calories_total</th>
        <th>carb</th>
        <th>cholesterol</th>
        <th>fiber</th>
        <th>food_name</th>
        <th>protein</th>
        <th>saturated_fat</th>
        <th>serving</th>
        <th>total_fat</th>
    </tr>
    <tr>
        <td>324</td>
        <td>701</td>
        <td>58</td>
        <td>2</td>
        <td>14.6</td>
        <td>26</td>
        <td>10.0</td>
        <td>1 slice</td>
        <td>36</td>
    </tr>
</table>


** Q12: ** Load the specifed data into *our favorite data structure* using a for loop.

** Q13: ** Convert *our favorite data structure* into a DataFrame.

#### Q14: Make the column data types make sense.
Convert the columns to the appropriate data types.

#### Q15: Show me the first 5 rows of the DataFrame
Use the pandas function to show me the first 5 rows.

#### Q16: Create a plot
Show me visually how the total_fat relates to the calories_fat using a line plot from matplotlib's pyplot.

### Working with HTML
This is a web scraping task. We will use the *requests* library to scrape this page: https://forecast.weather.gov/MapClick.php?lat=38.9807&lon=-76.9373

#### Q17: Scrape the page.

Use the *requests* library to pull down the page.

#### Q18: Was the request successful?
Check if the request was successful.

#### Q19: Create a BeautifulSoup object.
Parse the response to create a BeautifulSoup object named `soup`.

#### Q20-24: Pull out the data from the soup object
When you look at the page. You will see under the header "Extended Forcast" as series of images depicting the weather.

Q20: Find the appropriate element to select so that we can loop each of those blocks.  
Q21: Only save data for blocks that *do not have* the word "night" in the period name (the header for each block).   
Q22: Save the day "Period Name" (the header for each block).  
Q23: Save the high temperature string.  
Q24: Extract the number value for the high temperature from the string **using Regex** and convert the value to an int.

In [ ]:
temp_list = []
# Q20: Put something in the select statement so that it loops through each of the weather blocks
for day in soup.select(''):
    # Q21: Check to see if the word "night" is not in the header of the block (replace the False with your check.)
    if False:
        # Q22: Save the period name (fill in the appropriate class in the select_one)
        period  = day.select_one('')
        # I am removing the <br/> that appears inside the text.
        period_name = ' '.join(b for b in period if str(b) != '<br/>')
        # Q23: Save the temperature string
        temp_str = ''
        # Q24: Extract the number and convert to int.
        temp_int = 0
        
        temp_list.append({'period': period_name, 'high_temp': temp_int})

temp_df = pd.DataFrame(temp_list)
temp_df

### Working with SQL

For this section we are going to use the file `veekun-pokedex.sqlite` that is in the `data` directory.

The following SQL is suffiction to select the required data.

In [ ]:
poke_sql = '''SELECT pokemon.identifier, height, 
weight, capture_rate, hp_stats.base_stat as hp, 
attack_stats.base_stat as attack, 
defense_stats.base_stat as defense
FROM pokemon 
JOIN pokemon_species ON pokemon.species_id = pokemon_species.id
JOIN pokemon_stats as hp_stats ON pokemon.id = hp_stats.pokemon_id
JOIN stats s1 ON hp_stats.stat_id = s1.id AND s1.identifier = 'hp'
JOIN pokemon_stats as attack_stats ON pokemon.id = attack_stats.pokemon_id
JOIN stats s2 ON attack_stats.stat_id = s2.id AND s2.identifier = 'attack'
JOIN pokemon_stats as defense_stats ON pokemon.id = defense_stats.pokemon_id
JOIN stats s3 ON defense_stats.stat_id = s3.id AND s3.identifier = 'defense'
WHERE pokemon_species.generation_id = 1
AND pokemon.is_default = 1;'''

#### Q25: Connect to the database
Connect to the database and save the connection in a variable named `poke_db`.

#### Q26: Execute the Query to create a DataFrame
Use `poke_sql` to create a DataFrame named `poke_df`.

#### Q27: Save the DataFrame as a Table
Save the DataFrame `poke_df` as a table named `poke_combined`. If the table exists, then overwrite the existing table.

#### Q28: Create some histograms
Create some histograms from `poke_df` so that we can understand the distribution of the values.

### Working with JSON
One last DataType to prepare and that is JSON.

We will use the JSON in the string below.

In [ ]:
json_str = '{"results" : [{"address_components" : [{"long_name" : "10th Street Northwest","short_name" : "10th St NW","types" : [ "route" ]},{"long_name" : "Northwest Washington","short_name" : "Northwest Washington","types" : [ "neighborhood", "political" ]},{"long_name" : "Washington","short_name" : "Washington","types" : [ "locality", "political" ]},{"long_name" : "District of Columbia","short_name" : "DC","types" : [ "administrative_area_level_1", "political" ]},{"long_name" : "United States","short_name" : "US","types" : [ "country", "political" ]},{"long_name" : "20001","short_name" : "20001","types" : [ "postal_code" ]}],"formatted_address" : "10th St NW & U St NW, Washington, DC 20001, USA","geometry" : {"location" : {"lat" : 38.917007,"lng" : -77.02598569999999},"location_type" : "GEOMETRIC_CENTER","viewport" : {"northeast" : {"lat" : 38.9183559802915,"lng" : -77.02463671970848},"southwest" : {"lat" : 38.9156580197085,"lng" : -77.0273346802915}}},"partial_match" : true,"place_id" : "Ei8xMHRoIFN0IE5XICYgVSBTdCBOVywgV2FzaGluZ3RvbiwgREMgMjAwMDEsIFVTQQ","types" : [ "intersection" ]}],"status" : "OK"}'

#### Q29: Convert the JSON string
Use the correct JSON library functions to load the string stored in `json_str` into a variable named `json_obj`.

#### Q30: What type is that?
What type is the variable `json_obj`?

#### Q31: Extract the  formatted name of the address
Pull out the formatted name for the address that is contained in the JSON.

#### Q32: Create a tuple that contains the latitude and longitude.
Pull out the latitude and longitude of the location and save it in a variable named `geo_location`.

#### Q33: Filter DataFrame using Regex.
Write a regex that will cause filter to return only the pokemon whose name contains 5 letters in a row that are not vowels.

In [ ]:
# Filter goes over the index, so I am setting the index to the pokemon's names stored in identifier.
p2 = poke_df.set_index('identifier')
# Q33: Put your regex in the quotes below
p2.filter(regex='', axis='rows')